.mainNav {
    width: 244px;
    background-color: #181818;
    padding: 20px 0 20px 36px;
}

.navLogo {
    width: 113.33px;
    height: 43px;
    padding: 13px 0 13px 0;
    background-color: transparent;
    margin-bottom: 20px;
}

.logoImage {
    width: 113.33px;
    height: 17px;
    color: #181818;
}
